<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>about kusl</title>
        <meta name="description" content="the place where we work on different front-end experiments">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body data-ng-app>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://whatbrowser.org/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div>
            <h1></h1>
            <p>
            	Please use tabs for indentation on this project. Assume one tab is four spaces. I recommend turning on soft wrap if you are using the github editor.
            </p>
            <p>
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat id augue id pharetra. Mauris suscipit pharetra dolor non sollicitudin. Aliquam faucibus dictum metus, nec dignissim ipsum mollis vitae. Quisque magna risus, semper eu metus ut, placerat venenatis velit. Etiam sed risus iaculis, vulputate orci et, venenatis magna. Maecenas nulla arcu, accumsan at fringilla nec, pulvinar eget eros. Mauris dui urna, egestas ut semper vel, fermentum at nibh. Sed hendrerit iaculis ipsum, eu venenatis orci sagittis ut. Ut quis ultrices massa, nec pretium tellus. Aliquam porta tempor sem, a laoreet leo sollicitudin in. Vivamus nec pellentesque sem. Vivamus non neque sapien. Donec porttitor mi eget placerat vestibulum. Morbi lectus nibh, vulputate eu elementum eget, lobortis et tortor. Mauris a ante in ante tempus dignissim. Nunc quis pharetra ante.
            </p>
            <p>
            	Vivamus consectetur fringilla euismod. Nam id nunc commodo, sagittis tellus bibendum, porttitor libero. Ut eget nulla rutrum, gravida nunc vel, malesuada elit. Nulla mollis, libero ut congue hendrerit, odio nulla vehicula lectus, ac luctus elit erat et risus. Nunc consequat augue urna, vitae bibendum leo pellentesque eget. Integer suscipit eros nec tellus tristique, nec placerat lectus euismod. Ut vel iaculis lorem. In in ipsum dui.
            </p>
            <p>
            	Sed commodo magna eu tempus suscipit. Integer enim urna, pellentesque vitae sapien vitae, mollis dignissim tellus. In in turpis molestie purus facilisis iaculis sed eget tellus. Nunc accumsan volutpat felis. Sed fermentum turpis vitae arcu malesuada facilisis. Mauris quis eros sit amet orci faucibus elementum. Nullam non sodales tellus. Aenean massa purus, suscipit et purus vitae, convallis vulputate nunc. Proin consequat mattis lectus ac interdum.
            </p>
            <p>
            	Phasellus lobortis ullamcorper neque, sit amet elementum sapien tempus vel. Cras malesuada nibh non luctus malesuada. Curabitur dui odio, aliquam id odio sed, placerat ultrices felis. Donec posuere sollicitudin nunc. Nulla fermentum pretium nibh. Nullam accumsan pulvinar ultricies. Integer quis pulvinar est, ut ullamcorper tortor. Integer vulputate at lacus at suscipit. Vestibulum quis nisl sed sapien pharetra eleifend. Quisque varius ligula eu placerat fringilla. Etiam facilisis nisi ullamcorper, dapibus sem eu, volutpat mi. Donec vel erat molestie, dignissim lorem eget, aliquet nisi. Vestibulum imperdiet et quam ac sodales.
            </p>
            <p>
            	Quisque sed elementum metus, in blandit nisl. Duis quis erat magna. Nunc at lorem eget leo gravida tristique. Donec id adipiscing odio. Vestibulum consequat, tellus et dignissim fringilla, diam felis malesuada purus, nec faucibus massa elit at quam. Duis quam sapien, ultricies posuere elementum ac, cursus ut mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum pulvinar dui non ante consequat, at gravida purus aliquam. Donec eros lacus, pretium ut pretium eget, pellentesque nec nibh. Pellentesque ornare, elit id semper vulputate, metus risus luctus velit, ut pulvinar nibh odio et erat. In id lorem vitae diam congue fermentum at vitae neque. Nunc placerat accumsan lectus nec pulvinar. Praesent a ipsum in urna vehicula elementum. Nam in metus diam. Nam sit amet condimentum quam, id suscipit dui.
            </p>
        </div>
        
        <form autocomplete="off">
        	<input type="text" autocomplete="off" data-ng-model="yourName" placeholder="Full legal name"> 
        	<br />
        	<input type="number" autocomplete="off" data-ng-model="yourEmplID" placeholder="Employee ID (digits only)">
        	<input type="number" autocomplete="off" data-ng-model="yourQuantity" placeholder="Quantity">
        	<input type="number" autocomplete="off" data-ng-model="yourCostPerItem" placeholder="Cost per unit">
        	<br /> 
        	<p>Hello, {{yourName}}! Thank you for entering your employee ID. You entered {{yourEmplID}}. Please note that we do not collect any of this information on purpose at this time. These form elements are here just to make sure angular js is working on your browser. Thank you for participating in this test. Your total cost is {{yourQuantity * yourCostPerItem | currency}} for {{yourQuantity}} at the rate of {{yourCostPerItem}}.</p>
        </form>

        <div class="google-maps">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d5313.566571567184!2d-101.30078814999999!3d48.249299050000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!1s0x0%3A0xb23200f13f80e3db!5e0!3m2!1sen!2sus!4v1387495694037" 
                width="600" height="450" frameborder="0" style="border:0">
                </iframe>
            </iframe>
        </div>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
